.propertyName {
    font-weight: bold;
    font-size: medium;
}

.lowLevel {
    font-weight: normal;
    font-size: medium;
}

.fontBold {
    font-weight: bold;
}

.fontNormal {
    font-weight: normal;
}

.input-myBackground {
    padding: 7px !important;
}

.input-myBackgroundRootOptional {
    padding: 7px !important;
    background-color: #ffe6e6
}

.propertyContainer {
    margin-bottom: 5px;
}
